header,
header a {
  font-size: 1.4rem;
  background-color: #202125;
  color: #f3f7ff;
}
.header--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
  padding: 2rem 3.5rem;
}
.header--container__apps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3rem;
  margin-left: 1rem;
}
.apps--circle {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 100rem;
  background-color: #f3f7ff;
}
.one {
  grid-column: 1 / 1;
}

.two {
  grid-column: 1 / 2;
}
.three {
  grid-column: 1 / 3;
}
.four {
  grid-column: 2 / 1;
}
.five {
  grid-column: 2 / 2;
}
.six {
  grid-column: 2 / 3;
}

.seven {
  grid-column: 3 / 1;
}

.eight {
  grid-column: 3 / 2;
}
.nine {
  grid-column: 3 / 3;
}
.header--container__account {
  justify-content: center;
  align-items: center;
  background-color: #eb407a;
}
.header--container__account p {
  font-size: 2.4rem;
}
.header--container a:hover {
  text-decoration: underline;
}
.header--container__apps:hover {
  background-color: #303134;
}
.header--container__account:hover,
.header--container__apps:hover {
  border: 0.5rem solid #303134;
}
.header--container__apps,
.header--container__account {
  display: flex;
  height: 4rem;
  width: 4rem;
  border: 0.5rem solid #202125;
  border-radius: 100rem;
}

/* ----footer---- */
footer,
footer a {
  font-size: 1.6rem;
  background-color: #161717;
  color: #8a8890;
}
footer a:hover {
  text-decoration: underline;
}
.footer--country {
  padding: 1rem;
  border-bottom: 2px solid #202125;
}
.footer--container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.footer--section {
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 2.5rem;
}
